.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.water {
    background-color: #6890f0;
}

.fire {
    background-color: #f05030;
}

.grass {
    background-color: #78c850;
}

.electric {
    background-color: #f8d030;
}

.psychic {
    background-color: #f85888;
}

.ice {
    background-color: #98d8d8;
}

.dragon {
    background-color: #7038f8;
}

.dark {
    background-color: #705848;
}

.normal {
    background-color: #a8a878;
}

.fighting {
    background-color: #903028;
}

.flying {
    background-color: #a890f0;
}

.fairy {
    background-color: #D685AD;
}

.poison {
    background-color: #a040a0;
}

.ground {
    background-color: #e0c068;
}

.rock {
    background-color: #b8a038;
}

.bug {
    background-color: #a8b820;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #b8b8d0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.number {
    color: black;
    opacity: .7;
    text-align: right;
    font-size: .725rem;
}

.name {
    color: white;
    margin-bottom: 0;
    text-transform: capitalize;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    color: white;
    padding: .25rem 1rem;
    margin: .25rem 0;
    font-size: .725rem;
    text-transform: capitalize;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.detail img {
    max-width: 100%;
    margin-bottom: .7rem;
    height: 100px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    margin: .25rem 0;
    cursor: pointer;
}

@media screen and (min-width: 430px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 630px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
}